!.config/gtk-3.0/settings.ini
.config/gtk-3.0/
!.config/gtk-4.0/settings.ini
.config/gtk-4.0/
.config/bleachbit/
!.config/bleachbit/bleachbit.ini
linux/*.deb
.psensor/log
.vscode
.idea
.config/autostart
