!linux/.config/gtk-3.0/settings.ini
linux/.config/gtk-3.0/
!linux/.config/gtk-4.0/settings.ini
linux/.config/gtk-4.0/
linux/.config/bleachbit/
!linux/.config/bleachbit/bleachbit.ini
*.deb
linux/.psensor/log
.vscode
.idea
linux/.config/autostart
.DS_Store
*.pyc
